 :host {
  --z: 150px;
  width: 100%;
  height: 90vh;
  perspective: 200rem;
  display: block;
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: 800ms ease-in;
}

.cube-side {
  position: absolute;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.1);
  background: #237A57;

}

.cube-left {
  transform: rotateY(-90deg) translateZ(var(--z));
}

.cube-front {
  transform:  translateZ(var(--z));
}

.cube-right {
  transform: rotateY(90deg) translateZ(var(--z));
}

.cube-back {
  transform: rotateY(-180deg)  translateZ(var(--z));
}